$font-heading: 'montserrat', sans-serif;
$font-body: 'work_sans', sans-serif;
$color-primary: #002060;
$color-secondary: #00b0f0;
$color-lightgray: #eeeeee;
$color-black: #000000;
$color-white: #ffffff;
$color-text: #444444;
$color-textmute: #5a5a5a;
::-moz-selection { /* Code for Firefox */
  color: #fff; 
  background: $color-primary;
}

::selection {
  color: #fff; 
  background: $color-primary;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    font-family: $font-body;
    font-size: 18px;
    color: $color-text;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-heading;
    font-weight: 700;
}
h1{font-size: 48px;}
h2{font-size: 36px; color: $color-primary; position: relative;}
h3{font-size: 26px;}
h4{font-size: 22px;}
h5{font-size: 18px;}
h6{font-size: 14px;}

h2::after {
	content: "";
	width: 80px;
	position: absolute;
	margin: 0 auto;
	height: 2px;
	background: #b7b6b6;
	left: 0;
	right: auto;
	bottom: -10px;
}
h2.center::after {
	content: "";
	width: 80px;
	position: absolute;
	margin: 0 auto;
	height: 2px;
	background: #b7b6b6;
	left: 0;
	right: 0;
	bottom: -10px;
}

.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb50{margin-bottom: 50px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}

.brd-5{
    border-radius: 10px;
}

section{
    padding: 80px 0;
}
a{
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
}

.primary-btn{
    background: $color-primary;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    border:2px solid $color-primary;
    &:hover{
         text-decoration: none;
         color: $color-primary;
         border:2px solid $color-primary;
         background: none;
         }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.myModal-form{
    .modal-content{
        background: url(../images/form-bg.jpg) no-repeat;
    }
    .sugg-form{
    padding: 30px;
    label{font-size: 14px;}
    input, select{
        &:focus{outline: none; box-shadow: none;}
    }
} 
}

header{
    background: #fff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
    .logo{
        padding: 10px;
        img{
            max-width: 180px;
        }
    }
    
    .call-to-action {
        text-align: right;
        font-size: 15px;
        margin-top: 15px;
        border-bottom: 1px solid #344254;
        
        .phone{
            font-weight: bold;
        }
        a{
            color: #e6e6e6;
            &:hover{
                text-decoration: none;
            }
            i{padding-right: 5px;}
        }
    }


}
nav{
    font-family: $font-body;
    float: right;
    ul{
        margin: 0;
        font-size: 0;
        li{
            display: inline-block;
            a{
                display: block;
                color: #555;
                padding: 15px 30px;
                font-size: 18px;
                img{
                    filter: grayscale(100%);
                }
                &:hover{
                    text-decoration: none;
                    color: $color-secondary;
                    img{
                        filter: none;
                    }
                }
            }
            &:last-child a {
            padding-right: 0;
            }
            a.search-nv {
    background: $color-primary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 3.5;
    color: #fff;
    padding: 0;
}
        }
        .active a{
                color: $color-primary;
            }
        
    }
}
.searchbar {
    background: #002060;
    padding: 15px 0;
    display: none;
}
.hero{
    /*background: url(../images/hero.jpg) no-repeat fixed top center;
    min-height: 550px;*/
    padding: 0;
    .carousel{
        a.carousel-control-prev, a.carousel-control-next {
            width: 70px;
            height: 70px;
            background: #b3b3b3;
            border-radius: 50%;
            top: 45%;
            bottom: auto;
        }
        a.carousel-control-prev:hover, a.carousel-control-next:hover{
            background: $color-primary;
        }
        a.carousel-control-prev{
            left: 2vw
        }
        a.carousel-control-next{
            right: 2vw;
        }
    }
}
.icon-sec .services-brief{
    margin-bottom: 0;
}
.icon-sec .services-brief li{
    margin: 0 30px;
    text-align: center;
    a{
        color:#555;
        text-decoration: none;
        display: block;
        &:hover{
        color: $color-secondary;
    }
    }
    
    img {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    border: 1px solid #ededed;
}
span{
    font-size: 24px;
    padding: 15px 0 0;
    display: block;
    text-align: center;
}
}
.icon-sec .services-brief li img {
    max-width: 100px;
    margin: auto;
}


.introduction{
    background: url(../images/bg-intro.jpg) no-repeat top center;
    h3{
       font-size: 26px;
       text-transform: uppercase;
       margin-bottom: 30px;
       line-height: 1.5;
    }
    .sub-title{
        font-size: 22px;
        color: $color-textmute;
        margin-bottom: 20px;
        line-height: 1.5;
    }
}
.appointment{
    background: url(../images/bg2.jpg) no-repeat bottom;
}
.cta{
    background: url(../images/bg1.jpg) no-repeat fixed;
    position: relative;
    z-index: 1;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.76);
        z-index: -1;
    }
    h3{
        font-size: 30px;
        color: #fff;
        line-height: 1.6;
        margin-bottom: 35px;
    }
    .primary-btn{
        font-weight: bold;
        font-family: $font-heading;
        font-size: 20px;
        padding: 15px 50px;
    }
}
.services{
    padding-bottom: 40px;
    .pdl30{
        padding-left: 30px;
            padding-top: 4vw;
    }
    .service-block{
        margin-bottom: 30px;
        .icon, .content {
            text-align: center;
            }
            .icon{
                border: 1px solid #ddd;
                padding: 30px;
            }
            h4{
                font-size: 24px;
                margin-top: 20px;
            }
    }
}

.assistant-slider {
    background: url(../images/process-background-img.png) center center #fff no-repeat;
    .slick-slide {
    margin: 0 5px !important;
}
    .assistant-container {
        margin-bottom: 30px;
        padding: 0 50px;
        .slick-arrow {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-top: auto;
            margin-bottom: auto;
            z-index: 9;
            font-size: 0;
            outline: none !important;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 10px;
                height: 10px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                margin: auto;
                bottom: 0;
                left: 5px;
                right: 0;
            }
            &.slick-prev {
                background: $color-secondary;
                @media screen and (min-width: 1200px) {
                    left: 0px;
                }
                @media screen and (max-width: 1199px) {
                    left: 0px;
                }
                &::before {
                    
                    transform: rotate(45deg);
                }
            }
            &.slick-next {
                background: $color-secondary;
                @media screen and (min-width: 1200px) {
                    right: 0px;
                }
                @media screen and (max-width: 1199px) {
                    right: 0px;
                }
                &::before {
                    
                    transform: rotate(-135deg);
                }
                &::before {
                content: '';
                right: 10px;
            }
            }
        }
        .slick-dots {
            display: none !important;
            li {
                display: inline-block;
                vertical-align: middle;
                button {
                    display: block;
                    width: 14px;
                    height: 14px;
                    color: transparent;
                    margin: 0 5px;
                    border-radius: 15px;
                    font-size: 0;
                    border: 2px solid #aaa;
                    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
                    outline: none !important;
                }
                &.slick-active {
                    button {
                        background: #aaa;
                    }
                }
            }
        }

        .assistant-item {
            outline: none !important;
            border-radius: 10px !important;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 0;
            .item-image{
                background: #eee;
                padding: 15px;
                a {
                    display: block;
                    overflow: hidden;
                    width: 130px;
                    height: 130px;
                    margin: auto;
                }
            }
            .item-detail {
                padding: 10px;
                border-top: none;
                font-size: 16px;
                background: #fff;
                .detail {
                    list-style: none;
                    li {
                        &.assistant-name {
                            text-transform: uppercase;
                            line-height: 2;
                        }
                    }
                }
            }
            .price {
                background: $color-primary;
                display: inline-block;
                color: #fff;
                padding: 5px 15px;
                font-size: 14px;
                border-radius: 50px;
                margin-top: 10px;
            }
            .social-profile {
                border-top: 1px solid #ddd;
                text-align: center;
                padding-top: 10px;
                a{
                    padding: 0 8px;
                    color: #888 !important;
                    &:hover{
                        color: $color-secondary !important;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}


.testimonials{
    background: #eee;
    h2 {
        text-align: center;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}

.carousel .item {
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 60px 10px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: $color-secondary;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
}

.footer-contact{
    background: #232f3e;
    color: #e6e6e6;
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid #344254;
    .c-block{
        font-size: 16px;
        line-height: initial;
        display: inline-block;
        border-right: 1px solid #344254;
        padding: 15px 50px;
        text-align: left;
        .icon,.c-details{
            display: inline-block;
            vertical-align: middle;
        }
        .icon{
            font-size: 20px;
        }
        .c-details{
            padding-left: 10px;
            letter-spacing: 1.5px;
            strong{
                display: block;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            a{
                color:#e6e6e6;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .social{
            margin-bottom: 0;
            li{
                display: inline-block;
                a{
                    font-size: 16px;
                    display: block;
                    border-radius: 100%;
                    color: $color-secondary;
                    text-align: center;
                    line-height: 2.5;
                    border: 1px solid $color-secondary;
                    width: 40px;
                    height: 40px;
                    &:hover{
                        background: $color-secondary;
                        color: #fff;
                    }
                }
            }
        }
    }
    .c-block:last-child{
        border: none;
    }
}
footer{
    background: #232f3e;
    .pd60{
            padding: 60px 0;
    }
    h4{
        color: #fff;
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 0px;
        li{
            display: block;
            position: relative;
            line-height: 1.5rem;;
            font-size: 0;
            a{
                color: #ddd;
                font-size: 16px;
                &:hover{
                    color: $color-secondary;
                    text-decoration: none;
                }
            }
        }
    }
    .newsletter{
        p{font-size: 14px; color: #ddd;}
        .subscribe{
            position: relative;
            z-index: 0;
            .email-input{
                padding:10px 25px;
                border-radius: 50px;
                font-size: 16px;
                width: 100%;
                &:focus{
                    outline: none;
                }
            }
            .btn-subscribe {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: auto;
    right: 2px;
    padding: 5px 20px;
    border-radius: 100px;
    z-index: 1;
    background: #00aad4;
    color: #fff;
    cursor: pointer;
     &:focus{
                    outline: none;
                }
}
        }
    }
    .copyright {
    border-top: 1px solid #344254;
    padding: 20px 0;
    p{
        color: #e6e6e6;
        margin-bottom: 0;
        font-size: 14px;
        color: #ababab;
    }
}
}



.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 50px;
    overflow: hidden;
    padding: 15px 40px;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
    text-decoration: none;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-secondary;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.mb-nav{
    li{
        text-align: center;
        vertical-align: middle;
    }
    a{
        font-size: 15px;
    }
    img{
        max-width: 30px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}

/*---------------R E S P O N S I V E ------------------*/

@media screen and (min-width: 1600px) {
    header{
        .logo{
            &:after{}
        }
    }
}
@media screen and (max-width: 1599px){
    .assistant-slider {
    background-size: contain;
}
}
@media screen and (max-width: 1399px) and (min-width:992px  ){
    nav ul li a {
    
}
.footer-contact .c-block {
    padding: 15px 30px;
}
footer .row{
    margin-right: 0;
    margin-left: 0;
}
}

@media screen and (max-width: 991px){
    section {
    padding: 50px 0;
}
.introduction{
    .hvr-sweep-to-right{
        margin-bottom: 50px;
    }
}
.appointment{
    h2{
        margin-top: 50px;
    }
}
.assistant-slider{
    background: none;
}
.footer-contact{
    .c-block {
    font-size: 14px;
    padding: 15px 10px;
    .social li a {
    line-height: 2.3;
    width: 36px;
    height: 36px;
}
}
.c-details {
    letter-spacing: 0;
}
}
footer{
    h4{
        margin-top: 40px;
    }
    .pd60 {
    padding: 20px 0 60px;
}
}
header {
    overflow: hidden;
.call-to-action {
    text-align: center;
}
nav{
    float: none;
}
 .logo{
        text-align: center;
        &:after{
            display: none;
        }
        &:before{
            content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 1;
    background: #fff;
        }
        .left-enhancer{
            
        }
    }
}

}

@media screen and (min-width:768px){
    .modal-dialog {
    max-width: 680px !important;
    margin: 10vw auto !important;
}
    .mb-nav{
        position: relative;
            padding: 10px 0;
        img.nav-icon{
           
        }
    }
}

@media screen and (max-width: 767px) {
    body{font-size: 15px; line-height: 1.3;}
    section {
    padding: 30px 0;
}
    h2{font-size: 28px;}
    h3{font-size: 22px;}
    .mb30{margin-bottom: 15px;}
    .mb50{margin-bottom: 25px;}
    .introduction .sub-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.introduction .hvr-sweep-to-right {
    margin-bottom: 30px;
}
.appointment h2 {
    margin-top: 30px;
}
    .hero{
        .services-brief {
    margin-top: -30px;
}
.services-brief li {
    margin: 0 5px;
}
.services-brief li a {
    padding: 10px;
}
.services-brief li a img {
    max-width: 40px;
}
    }
    footer .row{
        margin-right: 0;
        margin-left: 0;
    }
    .footer-contact .c-block {
    display: block !important;
    border-right: none !important;
    padding: 20px 0px !important;
}
.cta h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.assistant-slider .assistant-container {
    padding: 0 20px;
}

.mb-nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ddd;
    text-align: center;
    z-index: 9;
    a{
        color: #000;
        font-size: 12px;
        padding: 15px 10px;
    }
    img.nav-icon{
        display: block;
        max-width: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

footer {
    margin-bottom: 88px;
}

header .call-to-action span{
    display: none;
        }
        header .call-to-action i{
            border: 1px solid #ddd;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 0 !important;
    line-height: 2.5;
        }

}

@media screen and (max-width:479px){
    header{
     .logo img{
        max-width: 150px;
    }
    .call-to-action{
        margin-top: 8px;
        ul{
            margin-bottom: 8px;
        }
    }
    }
    footer {
    margin-bottom: 68px;
}
    .mb-nav {
    a{
        color: #000;
        font-size: 10px;
        padding: 10px 10px;
    }
    img.nav-icon{
        margin-bottom: 5px;
    }
}
}