@font-face {
    font-family: 'montserrat';
    src: url('montserrat-thin.woff2') format('woff2'),
         url('montserrat-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-extralight.woff2') format('woff2'),
         url('montserrat-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-light.woff2') format('woff2'),
         url('montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-regular.woff2') format('woff2'),
         url('montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-bold.woff2') format('woff2'),
         url('montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-extrabold.woff2') format('woff2'),
         url('montserrat-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('montserrat-black.woff2') format('woff2'),
         url('montserrat-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'work_sans';
    src: url('worksans-light.woff2') format('woff2'),
         url('worksans-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'work_sans';
    src: url('worksans-regular.woff2') format('woff2'),
         url('worksans-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'work_sans';
    src: url('worksans-bold.woff2') format('woff2'),
         url('worksans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}